section{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.table{
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  /* top: calc(50% - 45vh); */
  /* left: calc(50% - 40vw); */
  /* position: relative; */
}
.table > div{
  width: calc(100% / 8);
  height: calc(100% / 8);
}


.table > div.empty
{
  background-color: none;
}
.table > div.init
{
  background-color: green;
}
.table > div.end
{
  background-color: red;
}
.table > div.wall
{
  background-color: black;
}
.table > div.searching
{
  background-color: pink;
}
.table > div.searched
{
  background-color: darkblue;
}
.table > div.path
{
  background-color: yellow;
}
.starButton{
  width: 5vw;
  height: 5vh;
  z-index: 100;
  background-color: black;
  color: white;
  position: fixed;
  cursor: pointer;
}
.resetButton{
  width: 10vw;
  height: 10vh;
  z-index: 100;
  background-color: black;
  color: white;
  position: fixed;
  cursor: pointer;
  top: calc(100% - 5vh);
}