*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
}
a { 
  text-decoration: none;
  text-decoration-color: black;
}
li{
  list-style: none;
}
#movingSquare{
  z-index: -100;
}